{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="d-flex row p-5 justify-content-between">

    <div class="col-sm">
        <h2 class="text-light">Address: </h2>

        <p class="text-light">19330 Ventura Blvd, Tarzana, CA 91356</p>


        <h2 class="text-light">Phone: </h2>

        <p class="text-light">310 - 422 - 1983</p>
    </div>


    <div class="col-sm">
        <p>

            <iframe class="iframe"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3300.9801482408893!2d-118.55662504976097!3d34.17242521874039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c299427719b999%3A0xb404f2b752d4eab!2sHustle%20Striking!5e0!3m2!1sen!2sus!4v1627613919949!5m2!1sen!2sus"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="eager"></iframe>
        </p>
    </div>

</div>




{% endblock content %}