{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="text-center">
	<div class="row">
		<hr class="mt-3" style="color:grey">
		<h1 style="letter-spacing: .4rem;" class="text-light mt-1 font-weight-bold">Membership Options</h1>
		<hr class="mt-2" style="color:grey">
		{% for product in products %}
		<div class=" col-lg-4 col-md-6 col-sm-6 p-5">



			<div class="card1" href="#">
				<img class="thumbnail" src="/static/{{product.imageURL}}">
				<p class="small text-center mt-5"><strong>${{product.price|floatformat:2}} MONTHLY</strong></p>
				<div class="go-corner" href="#">
					<div class="go-arrow">
						<button data-product={{product.id}} data-action="add"
							class="btn text-light add-btn update-cart">+
						</button>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>



	<footer class="text-center">
		<p style="font-size:.8rem; color:#676D79"> Hustle Striking | 2022</p>
	</footer>



</div>
{% endblock content %}